body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--text-color);
    font-size: 80px;
}

i {
    color: var(--primary-color);
    font-size: 150px;
}

p {
    color: var(--text-color);
    font-size: 30px;
    margin-top: 55px;
}