html, body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blury-cube-left {
    width: 300px;
    height: 300px;
    background-color: var(--primary-color);
    margin: 150px;
    transform: skew(20deg);
    filter: drop-shadow(0px 0px 100px var(--primary-color)) blur(5px);
}

.blury-cube-right {
    width: 300px;
    height: 300px;
    background-color: var(--primary-color);
    margin: 150px;
    transform: skew(-20deg);
    filter: drop-shadow(0 0 100px var(--primary-color)) blur(5px);
}

.text {
    text-align: center;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    font-weight: 500;
}

.name {
    font-size: 70px;
    font-family: "Shadows Into Light", cursive;
    font-weight: bolder;
    font-style: normal;
    letter-spacing: 7px;
    color: var(--secondary-color);
    text-shadow: 4px -4px 3px var(--accent-color);
}

.button-play {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    width: 300px;
    height: 80px;
    border-radius: 99px;
    box-shadow: 0px 10px 0px var(--primary-shadow);
    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: 0.2s;
}

.button-play:active {
    box-shadow: 0px 0px 50px var(--primary-shadow);
    transform: translateY(10px);
}

.play {
    width: 50px;
}